@charset "utf-8";
/* CSS Document */

h1{
	text-align:center;
	color:white
}
.course {
	margin-top:18px;
	border:1px solid black;
	margin-left: 15px;
    margin-right: 15px;
}

#right{
	float:right;
	width:50%;
}
#left{
	float:left;
	width:50%;
}
#leftbox{
	background-color:#fff;
	width:350px;
	height:500px;
	margin:5px;
	border: 3px solid black;
}
#rightbox{
	background-color:#fff;
	width:350px;
	height:150px;
	margin:5px;
	border: 3px solid black;
}
.container{
	text-align:center;
	margin:0 auto;
	width:80%;
	margin-right:40px;
}
body{
	background-color:#4DB4C6;
}

